body {
    background-color: black;
}
div {
    color: white;
}
#clock{
    text-align: center;
    font-size: 8vw;
}
#text{
    text-align: center;
    font-size: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }